<!-- <div class="create-user">
    <h2>Create New User</h2>
    
    <form (ngSubmit)="createUser()">
      <input type="text" placeholder="First name" [(ngModel)]="firstName" name="firstName" required />
      <input type="text" placeholder="Last name" [(ngModel)]="lastName" name="lastName" required />
      <input type="email" placeholder="Email" [(ngModel)]="email" name="email" required />
      <input type="password" placeholder="Password" [(ngModel)]="password" name="password" required />
      
      <label>
        <input type="checkbox" [(ngModel)]="isAdmin" name="isAdmin" />
        Admin User
      </label>
  
      <button type="submit">Create User</button>
    </form>
  </div>
   -->

<div class="create-user-container" *ngIf="isAdmin">
  <h1>Create New User</h1>

  <mat-card class="create-user-card" appearance="outlined">
    <mat-card-content>
      <form class="create-user-form">
        <mat-form-field class="full-width">
          <mat-label>First Name</mat-label>
          <input matInput type="text" [(ngModel)]="firstName" name="firstName" placeholder="Enter first name" (ngModelChange)="checkFormValid()" required>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Last Name</mat-label>
          <input matInput type="text" [(ngModel)]="lastName" name="lastName" placeholder="Enter last name" (ngModelChange)="checkFormValid()" required>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Email</mat-label>
          <input matInput type="text" [(ngModel)]="email" name="email" placeholder="Enter email" (ngModelChange)="checkFormValid()" required>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Password</mat-label>
          <input matInput type="password" [(ngModel)]="password" name="password" placeholder="Enter password" (ngModelChange)="checkFormValid()" required>
        </mat-form-field>

        <!-- <mat-checkbox [(ngModel)]="isAdminCkb" name="isAdminCkb">Admin User</mat-checkbox> -->
        <mat-checkbox [(ngModel)]="isAdminCkb" name="isAdminCkb" [ngModelOptions]="{standalone: true}">
          Admin User
        </mat-checkbox>

        <button mat-flat-button  (click)="createUser()" [disabled]="!isFormValid">
          <mat-icon>add</mat-icon> Create User
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>